<div class= "textwhite">
<h4>Copyright &copy; Roma Pizza Shop, 2012. All rights reserved.</h4>
<h1>fb api, twitter api, google plus api</h1>

<div class="fb-like" data-href="http://www.romapizzashopnc.com/" data-width="100" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>

</div>