
	<div class= "textwhite">
	<h4>Copyright &copy; Roma Pizza Shop, 2012. All rights reserved.</h4>
	</div>
	<div class="floatl">
	<div class="fb-like" data-href="http://www.romapizzashopnc.com/" data-width="100" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
	</div>
	<div class="floatl">
	<a href="https://twitter.com/share" class="twitter-share-button" data-dnt="true">Tweet</a>
	
	</div>
	<div class= "floatl">
	
	<g:plus action="share" annotation="bubble"></g:plus>
	</div>


