<div class="container phoneNum">
	<%= link_to "Clayton Number", "#",class: "btn btn-primary", id: "cla-link" %>
	<h1 id="phone-cla">(919)550-7070</h1>
	
	</br>
	<%= link_to "Durham Number", "#", class: "btn btn-primary",id: "dum-link" %>
	<h1 id="phone-dum">(919)957-7662</h1>
	
</div>




