<div class="container phoneNum">
	<%= link_to "Clayton Order Now", "#",class: "btn btn-primary", id: "cla-link" %>
	<h1 id="phone-cla">(919)550-7070 <%= link_to "Clayton Order Online", "https://slicelife.com/restaurants/nc/clayton/27527/roma-pizza-shop-clayton/menu?"%></h1>
	
	</br>
	<%= link_to "Durham Order Now", "#", class: "btn btn-primary",id: "dum-link" %>
	<h1 id="phone-dum">(919)957-7662 <%= link_to "Durham Order Online", "https://slicelife.com/ordernow/12686" %></h1>
	
	
</div>




