<div class="container phoneNum">
	<h1>
		<!--The display text to show during opening, to change later when store is established-->
		Clayton (919)550-7070</br>
		Durham (919)957-7662<!--<%= closer_store.eql?(:durham) ? "(919)957-7662" : "(919)550-7070" %>-->
	</h1>
</div>

<% unless cookies[:closer_store_by_zip] %>
	<div align="center">
		<%= render "stores/enter_zip" %>
	</div>
	<br>
<% end %>


