<div class="container phoneNum">
	<h1>
		*<%= closer_store.eql?(:durham) ? "(919)957-9662" : "(919)550-7070" %>*
	</h1>
</div>

<% unless cookies[:closer_store_by_zip] %>
	<div align="center">
		<%= render "stores/enter_zip" %>
	</div>
	<br>
<% end %>


