/*somestuff*/

@import "bootstrap";

.header1 {
	margin: 0;
	width: 900px;
	align: center;
}
.pic1 {
	width: 100%;
	position:relative;
}
.ImageLeftWrap {
	float: right;
	width: 25%;
}
.content {
	background-color: #969054;
	border-radius: 1%;
	padding: 20px;
}
.site {
	background-color: #722217;
}
.textwhite {
	color: white;
}
.menue {
	display: block;
	width: 90%;
	margin-left:auto;
	margin-right:auto;
	
}
.floatl {
	
	float: left;
}
.map {
	position: relative;
	width: 100%;
	height: 300px;
	z-index: 2;
}
.map1 {
	background-color: white;
	width: auto;
	height: auto;
	padding: 5px 5px;
	position: absolute;
	left: 40px;
	top: 15px;
	z-index: 99;
}
p {
	font-size: 14px;
}

.modHeader {
	border-bottom:0px;
	color: #0E3840;
}
.underline {
	text-decoration: underline;
}
@media (max-width: 768px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}